
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e5e5e5;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

@media screen and (min-width: 350px) {
  #modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(193, 199, 208, 0.9);
    backdrop-filter: blur(5px);
    z-index: 7;
    padding: 10px;
  }

  .card {
    padding: 20px;
    width: 90%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    z-index: 5;
    max-height: 99vh;
    border-radius: 10px;
    margin: 20px auto;
    margin-bottom: 20px;
  }

  .card-feature-image {
    border-radius: 10px;
    max-width: 100%;
  }

  #closePop {
    width: 2%;
    height: 2%;
    cursor: pointer;
  }

  .card-top {
    display: flex;
    justify-content: space-between;
    height: 100%;
  }

  .card-middle {
    display: flex;
    justify-content: space-between;
    margin-block: 10px;
  }

  .card-middle ul {
    display: flex;
    justify-content: flex-end;
    gap: 25px;
    float: left;
    color: #7a869a;
  }

  .card-library {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    gap: 10px;
  }

  .library-stack {
    background-color: #ebebff;
    padding: 2px 5px;
    margin: 10px 0;
    border-radius: 5px;
    color: #6070ff;
    font-size: 13px;
  }

  .card-button {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .card-button a {
    background-color: #dfe1e6;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid #396df2;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    gap: 6px;
  }
}

@media screen and (min-width: 768px) {
  #modal {
    padding: 10px;
  }

  .card {
    padding: 30px;
    max-width: 700px;
    position: fixed;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    z-index: 5;
    max-height: 98vh;
    border-radius: 10px;
    margin: 20px auto;
  }

  .card-feature-image {
    border-radius: 10px;
    width: 100%;
    height: 50vh;
  }

  #closePop {
    width: 2%;
    height: 2%;
    cursor: pointer;
  }

  .card-top {
    display: flex;
    justify-content: space-between;
    height: 100%;
  }

  .card-middle {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
  }

  .card-middle ul {
    display: flex;
    justify-content: flex-end;
    gap: 25px;
    float: left;
    color: #7a869a;
  }

  .library-stack {
    background-color: #ebebff;
    padding: 2px 10px;
    margin: 10px 0;
    border-radius: 5px;
    color: #6070ff;
  }

  .card-button {
    display: flex;
    justify-content: space-between;
    gap: 10px;

    /* width: 100%; */
  }

  .card-button button {
    background-color: #dfe1e6;
    padding: 10px 15px;
    border-radius: 10px;
    border: 1px solid #396df2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
  }

  .card-bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .card-center {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: space-between;
    width: 100%;
    gap: 5px;
  }

  .card-library {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    gap: 5px;
    flex-wrap: wrap;
  }

  .card-button a {
    background-color: #dfe1e6;
    padding: 10px 6px;
    border-radius: 10px;
    border: 1px solid #396df2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    text-decoration: none;
    font-size: 14px;
  }
}
