
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e5e5e5;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}