
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e5e5e5;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

@media screen and (min-width: 350px) {
  .container {
    padding: 24px;
    font-family: "Poppins", sans-serif;
  }

  .main-header {
    height: 5rem;
    background-color: #fff;
  }

  .info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Poppins", sans-serif;
    transition: all 0.3s ease-in;
    animation-duration: 3s;
    padding: 24px;
    position: fixed;
    margin: 0 auto;
    background-color: #ffff;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  }

  #closeHam {
    z-index: 15;
    position: relative;
  }

  .menu-lists {
    display: none;
    flex-direction: column;
    list-style-type: none;
    position: absolute;
    background-color: rgba(96, 112, 255, 0.9);
    left: 0;
    color: white;
    padding: 50px 20px;
    top: 0;
    width: 100%;
    height: 100vh;
    gap: 15px;
    backdrop-filter: blur(5px);
  }

  .info a {
    text-decoration: none;
    color: #6070ff;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
  }

  .item a {
    color: #fff;
  }

  .headlines {
    background-image: url("assets/images/header-shapes-mobile.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: -10px;
    background-color: #fff;
    border-radius: 0 0 0 40px;
    font-family: "Poppins", sans-serif;
    width: 100%;
  }

  .headlines .about {
    padding: 24px;
  }

  .headlines .intro {
    font-size: 40px;
    font-weight: 700;
    color: #172b4d;
  }

  .about p {
    margin-top: 12px;
    line-height: 24px;
    font-weight: 400;
    color: #344563;
  }

  .connect {
    padding: 0 24px;
    color: #7f8cff;
  }

  .social-icons {
    padding: 24px;
  }

  .social-icons li {
    list-style-type: none;
  }

  .social-icons ul {
    display: flex;
    gap: 20px;
    width: 50%;
  }

  .projects {
    margin-block: 104px;
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    border-radius: 10px;
    background-color: #fff;
    padding: 16px;
  }

  .project-image {
    width: 100%;
  }

  .project-tile {
    font-size: 25px;
    margin-block: 15px;
    color: #172b4d;
  }

  .stack-year {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .stack-year .title {
    color: #344563;
  }

  .lang-year {
    color: #7a869a;
  }

  .detail-text {
    margin-block: 10px;
    color: #344563;
    font-size: 16px;
  }

  .btns {
    margin-block: 16px;
    display: flex;
    gap: 2px;
    text-transform: lowercase;
  }

  .btn {
    padding: 6px;
    border-radius: 8px;
    color: #6070ff;
    background-color: #ebebff;
    border: none;
    cursor: pointer;
    list-style-type: none;
    font-size: 12px;
  }

  .detail-btn {
    padding: 15px 5px;
    border-radius: 8px;
    color: #6070ff;
    background-color: #fff;
    outline: none;
    border: 1px solid #396df2;
    width: 150px;
    margin-block: 30px;
    cursor: pointer;
    font-size: 17px;
    font-weight: 600;
  }

  .about-myself {
    background-color: #fff;
    padding: 24px;
    font-family: "Poppins", sans-serif;
    border-radius: 0 50px 0 0;
  }

  .myself {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }

  .about-myself .connect {
    padding: 0;
    margin-bottom: 26px;
  }

  .about-myself .social-icons {
    padding: 0;
    margin-bottom: 10px;
  }

  .about-me-title {
    font-size: 40px;
    color: #172b4d;
  }

  .about-details {
    line-height: 25px;
    color: #344563;
    margin-bottom: 12px;
  }

  .right-content {
    font-family: "Poppins", sans-serif;
    padding: 0;
    background-color: #fff;
    margin-top: -2px;
  }

  .lang-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    color: #344563;
  }

  .more-lang {
    color: #acb7c3;
    transform: rotate(90deg);
    cursor: pointer;
  }

  .languages {
    margin-top: 36px;
  }

  .languages li {
    list-style: none;
    background-color: #f7f7f9;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 12px;
    gap: 2px;
    border-radius: 8px;
  }

  .tools-container {
    display: grid;
    text-transform: uppercase;
    margin-top: 36px;
  }

  .tools-container li {
    list-style-type: none;
    font-weight: 700;
    font-size: 15px;
    border-bottom: 2px solid #dfe1e6;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
  }

  .more {
    color: #acb7c3;
    cursor: pointer;
  }

  .tools {
    color: #344563;
    padding-block: 20px;
  }

  .contact-me {
    padding: 24px;
    background-image: url('assets/images/contact-form-shapes-mobile.svg');
    background-position: right -40px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    background-color: #6070ff;
    border-radius: 50px 0 0 0;
    margin-top: 20px;
    font-family: "Poppins", sans-serif;
    color: #fff;
    width: 100%;
  }

  .contact-title {
    font-size: 40px;
    text-align: center;
    margin-top: 103px;
    margin-bottom: 12px;
  }

  .contact-form {
    width: 100%;
  }

  form > * {
    width: 100%;
    margin-top: 20px;
  }

  .form-control {
    line-height: 40px;
    margin-block: 23px;
    border-radius: 8px;
    padding: 2px 10px;
    border: 2px solid #6070ff;
    font-family: "Poppins", sans-serif;
  }

  textarea {
    border: 2px solid #6070ff;
    border-radius: 8px;
    padding: 10px 15px;
    font-family: inherit;
  }

  .get-in-touch {
    padding: 15px;
    border-radius: 8px;
    color: #6070ff;
    background-color: #fff;
    outline: none;
    border: 1px solid #396df2;
    width: 50%;
    cursor: pointer;
    font-size: 17px;
    font-weight: 700;
    display: block;
    margin: auto;
  }

  input,
  textarea {
    color: #172b4d;
  }

  .contact-details {
    text-align: center;
    font-size: 20px;
  }

  .detail-btn:hover {
    background-color: #6070ff;
    color: #fff;
  }

  .get-in-touch:hover {
    background-color: #6070ff;
    color: #fff;
  }

  button:visited {
    background-color: #2230d2;
    color: #fff;
  }

  .hide {
    display: none;
  }

  .show {
    display: flex;
  }

  #fullnameError,
  #emailError,
  #messageError {
    display: block;
    width: 100%;
    text-align: left;
    margin: 0;
    color: red;
    background-color: #fff;
    padding: 5px;
    border-radius: 3px;
  }

  #messageError {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }

  .main-header {
    position: fixed;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    z-index: 6;
    margin: 0 auto;
  }

  .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    padding-inline: 100px;
    animation-name: slidFromLeft;
    transform: translate(0%);
  }

  .menu-lists {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    position: static;
    background-color: transparent;
    width: auto;
    height: auto;
    padding: 6px;
  }

  .menu-lists .item a {
    text-decoration: none;
    color: #6070ff;
    font-size: 17px;
    font-weight: 700;
    text-transform: capitalize;
  }

  .headlines {
    background-image: url("assets/images/header-bg.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 80vh;
    position: relative;
    top: 50px;
    margin-bottom: 60px;
  }

  .contain {
    max-width: 1000px;
    padding: 24px;
    font-family: "Poppins", sans-serif;
    position: absolute;
    left: 10%;
    top: 10%;
  }

  .about p {
    font-size: 20px;
    line-height: 28px;
  }

  .work-sections {
    max-width: 1200px;
    margin: auto;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .projects {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 50px auto;
    transition: all 0.3s ease-in;
    align-items: center;
  }

  .projects > * {
    flex: 1;
  }

  .projects:hover {
    transform: scale(0.9);
  }

  .projects:nth-child(even) {
    flex-direction: row-reverse;
  }

  .projects .project-image {
    width: 444px;
    height: 348px;
    margin-right: 46px;
  }

  .stack-year {
    justify-content: flex-start;
    gap: 20px;
  }

  .btn {
    padding: 4px 12px;
    border-radius: 8px;
    color: #6070ff;
    background-color: #ebebff;
    border: none;
    cursor: pointer;
    list-style-type: none;
    font-size: 12px;
    margin-right: 10px;
  }

  .detail-btn {
    padding: 15px 5px;
    border-radius: 8px;
    color: #6070ff;
    background-color: #fff;
    outline: none;
    border: 1px solid #396df2;
    width: 150px;
    margin-block: 30px;
    cursor: pointer;
    font-size: 17px;
    font-weight: 600;
  }

  .center {
    max-width: 1100px;
    margin: 100px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .myself {
    margin-right: 20px;
  }

  .contact-me {
    background-image: url(assets/images/contact-form-background-shapes.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
  }

  .contact {
    max-width: 600px;
    margin: 60px auto;
    transition: all 0.3s ease-in;
    animation-duration: 3s;
    animation-name: slidFromLeft;
    transform: translate(0%);
  }

  .languages {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    width: 100%;
  }

  .more {
    float: right;
  }

  .languages li {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
}

@keyframes slidFromLeft {
  from {
    transform: translateX(-50%);
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes slidFromRight {
  from {
    transform: translateX(50%);
  }

  to {
    transform: translateX(0%);
  }
}
