
@media screen and (min-width: 375px) {
  /* universal formatting */

  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-color: #fff;
  }

  html {
    scroll-behavior: smooth;
  }

  .main-header {
    height: 5rem;
    padding: 24px;
    background-color: #fff;
  }

  .info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Poppins", sans-serif;
  }

  .info a {
    text-decoration: none;
    color: #6070ff;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
  }

  .headlines {
    background-image: url("assets/images/header-shapes\ mobile.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: -10px;
    background-color: #fff;
    border-radius: 0 0 0 40px;
    font-family: "Poppins", sans-serif;
  }

  .headlines .about {
    padding: 24px;
  }

  .headlines .intro {
    font-size: 40px;
    font-weight: 700;
    color: #172b4d;
  }

  .about p {
    margin-top: 12px;
    line-height: 24px;
    font-weight: 400;
    color: #344563;
  }

  .headlines .connect {
    padding: 0 24px;
    color: #7f8cff;
  }

  .headlines .social-icons {
    padding: 24px;
  }

  li {
    list-style-type: none;
  }

  .social-icons ul {
    display: flex;

    /* justify-content: space-between; */
    gap: 20px;
    width: 50%;
  }
}
