
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e5e5e5;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

@media screen and (min-width: 350px) {
  /* universal formatting */
  .container {
    padding: 24px;
    font-family: "Poppins", sans-serif;
  }

  .main-header {
    height: 5rem;
    padding: 24px;
    background-color: #fff;
  }


.menu-lists{
  display: none;
}
  .info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Poppins", sans-serif;
  }

  .info a {
    text-decoration: none;
    color: #6070ff;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
  }

  .headlines {
    background-image: url("assets/images/header-shapes\ mobile.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: -10px;
    background-color: #fff;
    border-radius: 0 0 0 40px;
    font-family: "Poppins", sans-serif;
  }

  .headlines .about {
    padding: 24px;
  }

  .headlines .intro {
    font-size: 40px;
    font-weight: 700;
    color: #172b4d;
  }

  .about p {
    margin-top: 12px;
    line-height: 24px;
    font-weight: 400;
    color: #344563;
  }

  .connect {
    padding: 0 24px;
    color: #7f8cff;
  }

  .social-icons {
    padding: 24px;
  }

  .social-icons li {
    list-style-type: none;
  }

  .social-icons ul {
    display: flex;

    /* justify-content: space-between; */
    gap: 20px;
    width: 50%;
  }

  /* work styling */
  .projects {
    margin-block: 104px;
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    border-radius: 10px;
    background-color: #fff;
    padding: 16px;
  }

  .project-image {
    width: 100%;
  }

  .project-tile {
    font-size: 38px;
    margin-block: 15px;
    color: #172b4d;
  }

  .stack-year {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .stack-year .title {
    color: #344563;
  }

  .lang-year {
    color: #7a869a;
  }

  .detail-text {
    margin-block: 10px;
  }

  .btns {
    margin-block: 16px;
    display: flex;
    gap: 8px;
  }

  .btn {
    padding: 6px 12px;
    border-radius: 8px;
    color: #6070ff;
    background-color: #ebebff;
    border: none;
    cursor: pointer;
    list-style-type: none;
    font-size: 16px;
  }

  .detail-btn {
    padding: 15px 10px;
    border-radius: 8px;
    color: #6070ff;
    background-color: #fff;
    outline: none;
    border: 1px solid #396df2;
    width: 50%;
    margin-block: 30px;
    cursor: pointer;
    font-size: 17px;
  }

  /* about myself styling */

  .about-myself {
    background-color: #fff;
    padding: 24px;
    font-family: "Poppins", sans-serif;
    border-radius: 0 50px 0 0;
  }

  .myself {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }

  .about-myself .connect {
    padding: 0;
    margin-bottom: 26px;
  }

  .about-myself .social-icons {
    padding: 0;
    margin-bottom: 10px;
  }

  .about-me-title {
    font-size: 40px;
    color: #172b4d;
  }

  .about-details {
    line-height: 25px;
    color: #344563;
    margin-bottom: 12px;
  }

  .right-content {
    font-family: "Poppins", sans-serif;
    padding: 0;
    background-color: #fff;
    margin-top: -2px;
  }

  .lang-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
  }

  .more-lang {
    color: #acb7c3;
    transform: rotate(90deg);
    cursor: pointer;
  }

  .languages {
    margin-top: 36px;
  }

  .languages li {
    list-style: none;
    background-color: #f7f7f9;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    padding: 12px;
    gap: 12px;
    border-radius: 8px;
  }

  .tools-container {
    display: grid;
    text-transform: uppercase;
    margin-top: 36px;
  }

  .tools-container li {
    list-style-type: none;
    font-weight: 700;
    font-size: 15px;
    border-bottom: 2px solid #dfe1e6;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
  }

  .more {
    color: #acb7c3;
    cursor: pointer;
  }

  .contact-me {
    padding: 24px;
    background-image: url('assets/images/contact\ form\ shapes-mobile.svg');
    background-position: right -40px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    background-color: #6070ff;
    border-radius: 50px 0 0 0;
    margin-top: 20px;
    font-family: "Poppins", sans-serif;
    color: #fff;
  }

  .contact-title {
    font-size: 40px;
    text-align: center;
    margin-top: 103px;
    margin-bottom: 12px;
  }

  .contact-form {
    width: 100%;
  }

  form > * {
    width: 100%;
    margin-top: 20px;
  }

  .form-control {
    line-height: 40px;
    margin-block: 23px;
    border-radius: 8px;
    padding: 2px 10px;
    border: 2px solid #6070ff;
    font-family: "Poppins", sans-serif;
  }

  textarea {
    border: 2px solid #6070ff;
    border-radius: 8px;
    padding: 10px 15px;
    font-family: inherit;
  }

  .get-in-touch {
    padding: 15px;
    border-radius: 8px;
    color: #6070ff;
    background-color: #fff;
    outline: none;
    border: 1px solid #396df2;
    width: 50%;
    cursor: pointer;
    font-size: 17px;
    font-weight: 700;
  }

  input,
  textarea {
    color: #172b4d;
  }

  .contact-details {
    text-align: center;
    font-size: 20px;
  }

  .detail-btn:hover {
    background-color: #6070ff;
    color: #fff;
  }

  .get-in-touch:hover {
    background-color: #6070ff;
    color: #fff;
  }

  button:visited {
    background-color: #2230d2;
    color: #fff;
  }
}


/* @media screen and (min-width:  768px) { */

  @media screen and (min-width:768px) { 
    .info-image{
      display: none;
    }
    .main-header{
      position: fixed;
      width: 100%;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    }
    .menu-lists{
      display: flex;
      list-style-type: none;
    }

    .menu-lists .item a{
      text-transform: capitalize;
      font-size: 15px;
      color: #344563;
      margin-right: 32px;
      cursor: pointer;
    }

    .info {
      max-width: 1200px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: auto;
    }

    .headlines{
      background-image: url("assets/images/header-bg.svg");
      background-position:top;
      background-size: contain;
      background-repeat: no-repeat;
      min-height: 80vh;
      position: relative;

    }

    .contain {
      max-width: 1000px;
      padding: 24px;
      font-family: "Poppins", sans-serif;
      /* margin: auto; */
      position: absolute;
      left: 10%;
      top: 10%;
    }

    .about p{
      font-size: 20px;
      line-height: 28px;
    }

    .work-sections{
      max-width: 1200px;
      margin: auto;
    }

    .container{
      display: grid;
      grid-template-columns: 1fr;
    }

    .projects{
      display: flex;
      justify-content: space-between;
      max-width: 1000px;
      margin: 50px auto;

    }

    .projects .project-image{
      width: 444px;
      height: 348px;
      margin-right: 46px;
    }

    .stack-year{
      justify-content: flex-start;
      gap: 20px;
    }

  
  
.center{
  max-width: 1100px;
  margin: 100px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.myself{
  margin-right: 20px;
}

.contact-me{
  background-image:url(assets/images/contact-form-background-shapes.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.contact{
  max-width: 600px;
  margin: 60px auto;
}

  
  }
